body{
    padding: 3px;
}
h1{
    text-align: center;
}
button{
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: hsl(158, 95%, 34%);
    color: white;
    border-color: hsl(158, 95%, 34%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#login{
    width: 50%;
    float: left;
    
}

#signup{
    width: 50%;
    float: right;
}